<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mon compte</title>
</head>
<body>
	<h1 align="center">Mon compte</h1>

	<div th:if="!${compte}">
		<a href="/connection">connection</a>
	</div>

	<div align="center" th:if="${compte}">
		<p th:text="'Nom : ' + ${compte.nom}">/</p>
		<p th:text="'Prénom : ' + ${compte.prenom}">/</p>
		<p th:text="'Pseudo : ' + ${compte.speudo}">/</p>
		<p th:text="'Email : ' + ${compte.email}">/</p>
		<p th:text="'Mot de passe : **********'">/</p>
		<p th:text="'Compte acheteur : ' + ${compte.acheteur}">/</p>
		<p th:text="'Compte vendeur : ' + ${compte.vendeur}">/</p>
		<div th:if="${compte.acheteur}">
			<p th:text="'Liste achat : ' + TODO">/</p>
		</div>
		<div th:if="${compte.vendeur}">
			<p th:text="'Liste annonce :'"></p>
			<div th:if="${listeAnnonce}">
				<table border="1">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom du produit</th>
							<th>Description</th>
							<th>Prix</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="annonce: ${listeAnnonce}">
							<td><h5 th:text="${annonce.id}"></h5></td>
							<td><h5 th:text="${annonce.produit.nomProduit}"></h5></td>
							<td><h5 th:text="${annonce.description}"></h5></td>
							<td><h5 th:text="${annonce.prix}"></h5></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:if="${compte.vendeur}">
			<p th:text="'Liste vente : ' + TODO">/</p>
		</div>
		<a href="/monCompte">Modifier mes informations (TODO)</a>
	</div>
	<br>
	<div>
		<a href="/home">Accueil</a>
	</div>
	<br>
	<div th:if="${compte}">
		<a href="/deconnexion">Déconnexion</a>
	</div>
</body>
</html>