<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mon compte</title>
</head>
<body>
	<h1 align="center">Mon compte</h1>

	<div th:if="!${compte}">
		<a href="/connection">connection</a>
	</div>

	<div align="center" th:if="${compte}">
		<p th:text="'Nom : ' + ${compte.nom}">/</p>
		<p th:text="'Prénom : ' + ${compte.prenom}">/</p>
		<p th:text="'Pseudo : ' + ${compte.speudo}">/</p>
		<p th:text="'Email : ' + ${compte.email}">/</p>
		<p th:text="'Mot de passe : **********'">/</p>
		<p th:text="'Compte acheteur : ' + ${compte.acheteur}">/</p>
		<p th:text="'Compte vendeur : ' + ${compte.vendeur}">/</p>
		<div th:if="${compte.acheteur}">
			<p th:text="'Liste achat :'"></p>
			<div th:if="${listeAchat}">
				<table border="1">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom du produit</th>
							<th>Nom du vendeur</th>
							<th>Prix</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="achat: ${listeAchat}">
							<td><h5 th:text="${achat.id}"></h5></td>
							<td><h5 th:text="${achat.produit.nomProduit}"></h5></td>
							<td><h5 th:text="${achat.vendeurVente.speudo}"></h5></td>
							<td><h5 th:text="${achat.prix} + ' ' + ${devise}"></h5></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:if="${compte.vendeur}">
			<p th:text="'Liste annonce en vente:'"></p>
			<div th:if="${listeAnnonce}">
				<table border="1">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom du produit</th>
							<th>Description</th>
							<th>Categorie</th>
							<th>Sous-categorie</th>
							<th>Prix</th>
							<th>Enchere</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="annonce: ${listeAnnonce}">
							<td><a th:href="@{/acheter(id=${annonce.id})}">Consulter</a>
							<td><h5 th:text="${annonce.produit.nomProduit}"></h5></td>
							<td><h5 th:text="${annonce.description}"></h5></td>
							<td><h5 th:text="${annonce.produit.categorie}"></h5></td>
							<td><h5 th:text="${annonce.produit.miniCategorie}"></h5></td>
							<td><h5 th:text="${annonce.prix} + ' ' + ${devise}"></h5></td>
							<td><h5 th:text="${annonce.enchere}"></h5></td>

						</tr>
					</tbody>
				</table>
			</div>
			<p th:text="'Liste vente :'"></p>
			<div th:if="${listeVente}">
				<table border="1">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom du produit</th>
							<th>Nom de l'acheteur</th>
							<th>Prix</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="vente: ${listeVente}">
							<td><h5 th:text="${vente.id}"></h5></td>
							<td><h5 th:text="${vente.produit.nomProduit}"></h5></td>
							<td><h5 th:text="${vente.acheteurVente.speudo}"></h5></td>
							<td><h5 th:text="${vente.prix} + ' ' + ${devise}"></h5></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
	<div>
		<a href="/home">Accueil</a>
	</div>
	<br>
	<div th:if="${compte}">
		<a href="/deconnexion">Déconnexion</a>
	</div>
</body>
</html>