<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Connection</title>
</head>
<body>
	<h1 align="center">Connection</h1>
	<div align="center">
		<h2 th:text="${error} ?: ${error}" />
	</div>
	<div align="center">
		<form action="" method="post">
			<p>
				<label>Email</label> <input type="text" name="email" id="email"
					required>
			</p>
			<p>
				<label>Mot de passe</label> <input type="password" name="password"
					id="password" required>
			</p>
			<button>Connection</button>
		</form>
	</div>
	<br>
	<div align="center">
		<a href="/inscription">Inscription</a> <a href="/home">Retour</a>
	</div>
</body>
</html>