<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Accueil</title>
</head>
<body>
	<div align="right" th:if="${compte}">
		<a href="/deconnexion">Déconnexion</a> <a href="/monCompte">Mon
			compte</a>
		<div th:if="${compte.vendeur}">
			<a href="/mise_en_vente">Mettre en ligne une annonce</a>
		</div>
	</div>

	<div align="right" th:if="${compte} == null">
		<a href="/connection">Connection</a> <a href="/inscription">inscription</a>
	</div>

	<td th:text="${error} ?: ${error}" />

	<div>
		<h1 align="center"
			th:text="${compte} ? 'Hello ' + ${compte.speudo} + ' !' : 'Hello world !'" />
	</div>
	
	<form action="" method="post">
			<p>
				<label>Votre Recherche</label> <input type="text" name="nomProduit" id="nomProduit"
					required>
			</p>
			<button>Rechercher Annonce</button>
		</form>
		
		<div th:if="${Annonce}">
			<h5 th:text="${Annonce.produit} ? 'voici ' + ${Annonce.produit.nomProduit} + 'de ' + ${annonce.produit.pseudoVendeur} : 'Pas de Produit'"  ></h5>
		</div>
		
		

</body>
</html>