<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Accueil</title>
</head>
<body>
	<div align="right" th:if="${compte}">
		<a href="/deconnexion">Déconnexion</a> <a href="/monCompte">Mon
			compte</a>
	</div>

	<div align="right" th:if="${compte} == null">
		<a href="/connection">Connection</a> <a href="/inscription">inscription</a>
	</div>

	<td th:text="${error} ?: ${error}" />

	<div>
		<h1 align="center"
			th:text="${compte} ? 'Hello ' + ${compte.speudo} + ' !' : 'Hello world !'" />
	</div>
</body>
</html>