<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Accueil</title>
</head>
<body>
	<div align="left">
		<p>changer devise</p>
		<a href="/changer_devise?devise=€">€</a> <a href="/changer_devise?devise=$">$</a>
	</div>
	<div align="right" th:if="${compte}">
		<a href="/deconnexion">Déconnexion</a> <a href="/monCompte">Mon
			compte</a>
		<div th:if="${compte.vendeur}">
			<a href="/mise_en_vente">Mettre en ligne une annonce</a>
		</div>
	</div>

	<div align="right" th:if="${compte} == null">
		<a href="/connection">Connection</a> <a href="/inscription">inscription</a>
	</div>

	<td th:text="${error} ?: ${error}" />

	<div>
		<h1 align="center"
			th:text="${compte} ? 'Hello ' + ${compte.speudo} + ' !' : 'Hello world !'" />
	</div>

	<div align="center">
		<form action="home" method="post">
			<p>
				<label>Votre Recherche</label> <input type="text" name="nomProduit"
					id="nomProduit" required>
			</p>
			<button>Rechercher Annonce </button>
		</form>
	</div>
	
	<div align="center">
		<form action="Home" method="post">
			<p>
				<label>Votre Recherche</label> <input type="text" name="categorie"
					id="categorie" required>
			</p>
			<button>Rechercher Annonce par categorie </button>
		</form>
	</div>
	
	<div align="center" th:if="${resAnnonce}">
		<table border="1">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Vendeur</th>
					<th>Prix
				</tr>
			</thead>
			<tbody>
				<tr th:each="Annonce: ${resAnnonce}">
					<td><a th:href="@{/acheter(id=${Annonce.id})}">consulter</a></td>
					<td><h5 th:text="${Annonce.produit.nomProduit}"></h5></td>
					<td><h5 th:text="${Annonce.produit.pseudoVendeur}"></h5></td>
					<td><h5 th:text="${Annonce.prix}"></h5></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div align="center" th:if="${ResultatAnnonce}">
		<table border="1">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Vendeur</th>
					<th>Prix
				</tr>
			</thead>
			<tbody>
				<tr th:each="Annonce: ${ResultatAnnonce}">
					<td><a th:href="@{/acheter(id=${Annonce.id})}">consulter</a></td>
					<td><h5 th:text="${Annonce.produit.nomProduit}"></h5></td>
					<td><h5 th:text="${Annonce.produit.pseudoVendeur}"></h5></td>
					<td><h5 th:text="${Annonce.prix}"></h5></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div align="center" th:if="${listeAnnonce}">
		<table border="1">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Vendeur</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Annonce: ${listeAnnonce}">
					<td><a th:href="@{/acheter(id=${Annonce.id})}">consulter</a></td>
					<td><h5 th:text="${Annonce.produit.nomProduit}"></h5></td>
					<td><h5 th:text="${Annonce.produit.pseudoVendeur}"></h5></td>
					<td><h5 th:text="${Annonce.prix} + ${devise}"></h5></td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>