<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<td th:text="${error} ?: ${error}" />
	</div>
	<div>
		<form action="" method="post">
			<p>
				<label>Prenom</label> <input type="text" name="prenom" id="prenom"
					required>
			</p>
			<p>
				<label>Nom</label> <input type="text" name="nom" id="nom" required>
			</p>

			<p>
				<label>Speudo</label> <input type="text" name="speudo" id="speudo"
					required>
			</p>
			<p>
				<label>Email</label> <input type="text" name="email" id="email"
					required>
			</p>
			<p>
				<label>Mot de passe</label> <input type="password" name="password"
					id="password" required>
			</p>
			<p>
				<input type="radio" name="vendeur" value="oui" /> Oui <input
					type="radio" name="vendeur" value="non" checked /> Non
			</p>
			<button>Inscription</button>
		</form>
	</div>
</body>
</html>